# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# exception for precompiled openssl for opensgx
!build/opensgx/libsgx/libssl.a
!build/opensgx/libsgx/libcrypto.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Mac files
*.DS_Store

# configurations
build/libressl-2.4.1/.openssl/*
*.pc
*.lai
